.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-column: 1 / 12;
  grid-row: 1 / 8;
}

.logo {
  display: grid;
  height: 200px;
  background: #03a3df;
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 1;
  }

.logo img {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.logo .social {
  grid-column-start: 11;
  grid-column-end: 12;
  }

.social img {
  padding-left: 3px;
  padding-right: 3px;
  height: 25px;
  width: 25px;
  }

.nav {
  display: flex;
  background-color: #444444;
  flex-direction: row;
  justify-content: space-around;
  grid-column: 1 / 12;
  grid-row: 2 / 2;
  }

.nav h4 {
  color: white;
  padding: 1rem;

}
.test {
  grid-column: 10 / 12;
  grid-row: 3 / 4;
}


.classes {
  grid-column: 3 / 7;
  grid-row: 3 / 3;
  }

  .classes h2 {
    font-family: arial;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    color: #444444;
    padding-bottom:20px;
  }

  .lessons {
    grid-column: 3 / 7;
    grid-row: 4 / 4;
    }

    .lessons h2 {
      font-family: arial;
      font-variant: normal;
      font-weight: bold;
      font-size: 24px;
      color: #444444;
      padding-bottom:20px;
    }

.instructors {
  grid-column: 3 / 7;
  grid-row: 5 / 5;
  }

.instructors h2 {
  font-family: arial;
  font-variant: normal;
  font-weight: bold;
  font-size: 24px;
  color: #444444;
  padding-bottom:20px;
}

h4 {
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #03a3df;

}

.aboutus {
  grid-column: 3 / 7;
  grid-row: 6 / 6;
  }
  .aboutus h2 {
    font-family: arial;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    color: #444444;
    padding-bottom:20px;
  }
.nondisc {
  grid-column: 3 / 7;
  grid-row: 7 / 7;
  padding-bottom: 20px;
  }

  .nondisc h2 {
    font-family: arial;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    color: #444444;
    padding-bottom:20px;
  }

.footer {
  background-image: url("footerimage.jpg");
  height: 300px;
  display: grid;
  grid-column: 1 / 12;
  grid-row: 8 / 8;
}

.footer img {
  height: 40%;
  grid-column: 4 / 12;
  grid-row: 3 / 8;

  }

.footer p:nth-child(even) {
  color: white;
  grid-column: 4 / span 1;
  grid-row: 6 / 8;
}

.footer p:nth-child(odd) {
  color: white;
  grid-column: 4 / 4;
  grid-row: 8 / 8;
}


.video {
  grid-column: 1 / 12;
  grid-row: 4 / 5;
}

ul {
    list-style-type: none;
    background-color: #444444;
}

li {
  display: inline;
  background-color: #444444;
}

ul a {
  color: white;
  background-color: #444444;
  text-decoration: none;
}

h1 {
    font-family: Arial;
    font-variant: normal;
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: Arial;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
}

body {
    font-family: Arial;
    font-variant: normal;
}

q {
  font-family: Arial;
  color: #03a3df;
  font-size: 30px;
}

speakername {
  font-family: Arial;
  font-weight: bold;
  color: #03a3df;
  font-size: 14px;
  text-transform: uppercase;
}
